<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Bonjour</h1>
  Message : <input type="text" id="chat" />
  <button onclick="sendMsg()">Send</button>  
  <script>
  var socket = io();
  socket.on('msg',(data)=>{
    console.log(data)
    var p = document.createElement('p')
    p.innerText= data
    document.body.append(p)
  })
  function sendMsg(){
    var msg = document.getElementById('chat').value
    console.log(msg)
    socket.emit('send-msg',msg)
     }
  </script>
</body>
</html>